{
    "extends": ["@diplodoc/eslint-config", "plugin:react/recommended"],
    "env": {
        "browser": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
