{
    "extends": ["@diplodoc/eslint-config"],
    "root": true,
    "env": {
        "browser": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "no-implicit-globals": "off",
        "callback-return": "off",
        "consistent-return": "off"
    }
}
