@import './variables';

@media only screen and (max-width: map-get($screenBreakpoints, 'sm')) {
    .pc-block-base.pc-block-base.pc-block-base:first-child {
        margin-top: var(--pc-first-block-mobile-indent, 64px);
    }
}

.pc-Grid.pc-navigation > .container-fluid {
    max-width: 1440px;
}

.dc-doc-page__main:has(.dc-doc-page__content > .pc-page-constructor),
.dc-doc-page__main:has(.dc-doc-page__content > .pc-page-constructor__docs) {
    padding: 20px 0 24px;
}

.dc-root_wide-format {
    .dc-doc-layout__right:has(.dc-subnavigation:only-child) {
        display: none;
    }

    @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
        & .dc-subnavigation {
            $wideFormatHorizontalPadding: 8px;

            padding-inline: 0 $wideFormatHorizontalPadding;
            width: calc(100% - $wideFormatHorizontalPadding);
        }

        & .dc-doc-page__main {
            padding-inline: #{$wideFormatHorizontalPadding};
        }
    }
}

.pc-block-base {
    padding: 0 !important; /* stylelint-disable-line declaration-no-important */
}

.pc-navigation {
    z-index: 120;

    & > .container-fluid {
        padding-right: $desktopHPadding;
        padding-left: $desktopHPadding;

        .mobile & {
            padding-right: $mobileRPadding;
            padding-left: $mobileLPadding;
        }

        & .col {
            padding: 0;
        }
    }
}

.pc-navigation-popup {
    background: var(--g-color-base-background);
}

.pc-desktop-navigation {
    &__right {
        flex: 0 1 auto;
    }

    &__buttons {
        flex-basis: 100%;
        justify-content: end;
    }

    &__buttons &__item {
        display: contents;
    }

    &__mobile-navigation-container {
        margin-right: 0;
    }
}

.pc-mobile-navigation {
    z-index: 119;
}

.gc-simple-consent.gc-analytics {
    right: 0;
    left: unset;
    z-index: 101;
}

@media (max-width: map-get($screenBreakpoints, 'md') - 1) {
    .dc-toc {
        height: fit-content !important; /* stylelint-disable-line declaration-no-important */
    }

    body:not(:has(.pc-navigation)) .dc-sidebar {
        top: var(--dc-subnavigation-height, 52px);
        z-index: 117;
        height: calc(100% - var(--dc-subnavigation-height, 52px));

        &-navigation__button {
            margin-right: 0;
        }
    }

    body:has(.pc-navigation) .dc-sidebar {
        --dc-header-height: var(--header-height, 64px);
    }

    .pc-navigation-item:has(.dc-controls) {
        display: none;
    }
}

.dc-root_document-page {
    .App {
        .pc-Grid {
            padding-right: 40px;
            padding-left: 40px;

            &.pc-navigation {
                padding: 0;
            }

            @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
                padding-right: 20px;
                padding-left: 20px;

                max-width: 100%;
            }
        }

        .pc-layout__content > .pc-Grid {
            padding: 0;

            .container-fluid {
                padding-right: 0;
                padding-left: 0;

                max-width: unset;
            }
        }

        .pc-layout__navigation > .container-fluid {
            max-width: 1440px;
        }

        .dc-doc-page {
            @media screen and (max-width: 1440px) {
                &:not(&_regular-page-width) {
                    width: 100%;
                }
            }
        }
    }
}

.mobile {
    .pc-navigation {
        .pc-overflow-scroller {
            justify-content: flex-end;
            overflow: visible;
        }
    }
}

.mobile.dc-root_focused-search {
    .pc-navigation {
        .pc-desktop-navigation {
            &__left,
            &__navigation-container {
                display: none;
            }

            &__right {
                flex: 1 1 100%;
                max-width: 100%;
            }

            &__mobile-navigation-container {
                padding-right: 0;
            }
        }

        .pc-overflow-scroller__wrapper {
            width: 100%;
        }

        .pc-navigation-item:has(> .Suggest) {
            width: 100%;
        }

        .pc-mobile-menu-button {
            display: none;
        }
    }
}
