@import './variables';

@media only screen and (max-width: map-get($screenBreakpoints, 'sm')) {
    .pc-block-base.pc-block-base.pc-block-base:first-child {
        margin-top: var(--pc-first-block-mobile-indent, 64px);
    }
}


.App.document-mode {
    .pc-Grid {
        padding-right: 40px;
        padding-left: 40px;

        &.pc-navigation {
            padding: 0;
        }

        @media (max-width: map-get($screenBreakpoints, 'md')) {
            padding-right: 20px;
            padding-left: 20px;

            max-width: 100%;
        }

        .container-fluid {
            padding-right: 0;
            padding-left: 0;

            max-width: unset;
        }
    }

    .pc-layout__content > .pc-Grid {
        padding: 0;
    }

    .pc-layout__navigation > .container-fluid {
        max-width: 1440px;
    }

    .dc-doc-page {
        @media screen and (max-width: 1440px) {
            &:not(&_regular-page-width) {
                width: 100%;
            }
        }
    }
}

.pc-Grid.pc-navigation > .container-fluid {
    max-width: 1440px;
}

.dc-doc-page__main:has(.dc-doc-page__content > .pc-page-constructor__docs) {
    padding: 20px 0 24px;
}

.dc-doc-page__main:has(.dc-doc-page__content > .pc-page-constructor) {
    padding: 20px 0 24px;
}

.pc-block-base {
    padding: 0 !important;
}

.pc-navigation {
    z-index:  120;

    .desktop .dc-root_wide-format & .container-fluid {
        padding: 0;

        & .col {
            padding: 0;
        }
    }

    .mobile .dc-root_wide-format & .container-fluid {
        padding: 12px;

        & .col {
            padding: 0;
        }
    }
}

.pc-navigation-popup {
    background: var(--g-color-base-background);
}

.pc-desktop-navigation {
    &__right {
        flex: 0 1 auto;
    }

    &__buttons {
        flex-basis: 100%;
        justify-content: end;
    }

    &__item {
        width: 100%;
        transition: width 0.3s;
    }
}

.pc-mobile-navigation {
    z-index: 119;
}

.pc-navigation {
    z-index:  120;

    .desktop.dc-root_wide-format & .container-fluid {
        padding: 30px;

        & .col {
            padding: 0;
        }
    }

    .mobile.dc-root_wide-format & .container-fluid {
        padding: 12px;

        & .col {
            padding: 0;
        }
    }
}
