@use 'variables';
@use 'mixins';

body.g-root {
    font-feature-settings: 'liga', 'kern';
    text-size-adjust: 100%;

    /* stylelint-disable-next-line value-keyword-case */
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    @include mixins.heading1();
}

h2 {
    @include mixins.heading2();
}

h3 {
    @include mixins.heading3();
}

h4 {
    @include mixins.heading4();
}

h5 {
    @include mixins.heading5();
}

h6 {
    @include mixins.heading6();
}

p,
div.p {
    margin: 0 0 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

sub,
sup {
    font-size: 0.75em;
    line-height: 0;
}

a {
    @include mixins.link();
}
