@import '@diplodoc/transform/dist/css/yfm.css';
@import '@diplodoc/components';
@import '@diplodoc/components/themes/common';
@import '@diplodoc/openapi-extension/runtime/styles';
@import '../../styles/default.scss';
@import '../../styles/typography.scss';
@import '../../styles/overrides.scss';

.App {
    margin: 0;
    min-height: 100vh;
}

.Controls {
    height: 100%;

    .pc-mobile-navigation & {
        margin-left: -14px;
    }
}

.g-root {
    --dc-header-height: 0px;
    --mermaid-zoom-control-color: var(--g-color-text-primary);
    --pc-first-block-mobile-indent: 0px;

    .dc-root_full-header & {
        --dc-header-height: 64px;
    }
}


