@import '@diplodoc/transform/dist/css/yfm.css';
@import '@diplodoc/components';
@import '@diplodoc/components/themes/common';
@import '@diplodoc/openapi-extension/runtime/styles';
@import '../../styles/default.scss';
@import '../../styles/typography.scss';

.App {
    margin: 0;
    min-height: 100vh;
}

.Controls {
    height: 100%;
}

.g-root {
    --dc-header-height: 0px;
    --mermaid-zoom-control-color: var(--g-color-text-primary);
    --pc-first-block-indent: 0px;
    --pc-first-block-mobile-indent: 0px;

    .dc-root_full-header & {
        --dc-header-height: 64px;
    }
}

.pc-navigation {
    z-index:  101;

    .desktop .dc-root_wide-format & .container-fluid {
        padding: 0;

        & .col {
            padding: 0;
        }
    }

    .mobile .dc-root_wide-format & .container-fluid {
        padding: 12px;

        & .col {
            padding: 0;
        }
    }
}

.pc-block-base {
    padding: 0 !important;
}

.pc-navigation-popup {
    background: var(--g-color-base-background);
}

.pc-desktop-navigation {
    &__right {
        flex: 0 1 auto;
    }

    &__buttons {
        flex-basis: 100%;
        justify-content: end;
    }

    &__item {
        width: 100%;
        transition: width 0.3s;
    }
}
