@use 'sass:meta';
@use 'pkg:@diplodoc/transform/dist/css/yfm.css';
@use 'pkg:@diplodoc/components';
@use 'pkg:@diplodoc/components/themes/common';
@use 'pkg:@diplodoc/openapi-extension/runtime/styles';
@use '../../styles/default';
@use '../../styles/typography';
@use '../../styles/overrides';

.App {
    margin: 0;
    min-height: 100vh;
}

.Controls {
    height: 100%;

    .pc-mobile-navigation & {
        margin-left: -14px;
    }
}

.g-root {
    --dc-header-height: 0px;
    --mermaid-zoom-control-color: var(--g-color-text-primary);
    --pc-first-block-mobile-indent: 0px;
}
